/*
    // Activity 1 1209
	// Mobile Interfaces and Usability
	// Mobile Development
	// Full Sail University
	// Jonathan Wade
*/


label.error{
	display: block;
	margin: 10px 0px 10px 0px ;
	color: #6DABD4;
}