/*
    // Activity 1 1209
	// Mobile Interfaces and Usability
	// Mobile Development
	// Full Sail University
	// Jonathan Wade
*/



h1 { /* App Header */
	position: relative;
	padding-left: 23px;
	padding-top: 5px;
	padding-bottom: 5px;
	top: -17px;
	color: white;
	text-shadow: 1px 1px 5px black;
	font-family: 'Federant', cursive;
	font-weight: 900;
	border: 1px solid #0e0e0e;
	background: #f3c5bd; /* Old browsers */
	background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3c5bd), color-stop(50%,#e86c57), color-stop(51%,#ea2803), color-stop(75%,#ff6600), color-stop(100%,#c72200)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
}

h2 {
	text-align: center;
	color: white;
	text-shadow: 1px 1px 7px black;
	font-family: 'Federant', cursive;
	font-weight: 900;
	font-size: xx-large;
}

h3 {
	position: relative;
	margin: 0px 0px 0px -5px;
	color: white;
	text-shadow: 1px 1px 5px black;1
	font-weight: bold;
	text-align: center;
	font-size: small;
	font-weight: bold;
	text-shadow: 3px 3px 10px #000000;
}

h5 {
	margin-top: -1px;
    margin-bottom: 4px;
	text-align: left;
	color: white;
	text-shadow: 1px 1px 8px black;
	font-family: 'Federant', cursive;
	font-weight: bold;
	padding: 5px 0px 5px 20px;
	box-shadow: 0px 2px 2px #031b41;
	border: 1px solid rgba(65,65,69,0.5);
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */

}

body { /* general text styling and BG gradient styling */
	margin: auto; 
	font-family: Helvetica, Arial, sans-serif;
	font-size:small;
	background: rgba(21,145,14,1);
	background: #f3c5bd; /* Old browsers */
	background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3c5bd), color-stop(50%,#e86c57), color-stop(51%,#ea2803), color-stop(75%,#ff6600), color-stop(100%,#c72200)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
}

#paraCTA {
	margin-bottom: -10px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	font-size: small;
	font-weight: bold;
}

#paraCTA img {
	margin: 15px 10px 5px 0px;
	float: right;
}

nav#indexNav { /* Nav link for index.html */
	float: left;
	font-family: 'Federant', cursive;
	text-shadow: 1px 1px 5px black;
	font-size-adjust: 12pt;
	font-weight: bold;
	margin: 10px 0px 0px 15px;
	padding: 2px 22px 2px 25px;
	border: 1px solid rgba(65,65,69,0.5);
	border-radius: 8px;
	box-shadow: 0px 0px 6px black;
	background: #f6e6b4; /* Old browsers */
	background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

input[type=search] { 
	position: relative;
	top: -5px;
	margin-bottom: 8px;
	display: block; 
	width: 310px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;    
              
}


	
#requestList, #genreView, #songView, #artistView, #learnSongs {
	display: block;
	font-family: 'Federant', cursive;
	text-shadow: 1px 1px 5px black;
	font-size-adjust: 12pt;
	text-align: right;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 35px;
	margin: 4px 0px 4px 0px;
	box-shadow: 0px 0px 6px black;
	background: #f6e6b4; /* Old browsers */
	background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

div#headerDiv{ /* Contains header nav gradient styles */
	position: relative;
	top: -35px;
	box-shadow: 0px 0px 6px black;
	background: #f6e6b4; /* Old browsers */
	background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */

}

#slIcon {
	float: right;
	position: relative;
	top: -25px;
	margin-right: 20px;
}

nav#addItemNav{ /* padding for nav element containing header links */
	padding: 5px 5px;
}

#viewList, #clearList, #addNew { /* Header links alignment */
	display: inline;
	padding:4px 0px 4px 10px
	
}

#homeButton{
	float: right;
	padding-right: 10px;
}

legend { /* Add a Song text styling */
	color: white;
	text-shadow: 1px 1px 5px black;
	font-family: 'Federant', cursive;
	padding: 0px 0px 0px 10px;
	font-size: medium;
	font-weight: bolder;
}

#requiredMsg{
	font-size: smaller;
	padding:10px 0px 0px 11px;
	margin-bottom: -10px;
	display: block;
	color: white;
	letter-spacing: .05em;
}

#errors{
    margin-top: 15px;
	box-shadow: inset 1px 2px 1px rgba(0,0,0,0.5);
	background-color: rgba(255,0,0,0.3);
	font-size: x-small;
	color: white;
	font-weight: bold;
		
}



ul { /* Removes bullet pints from List Items */
	list-style-type: none;
	margin-left: -38px;
}

li { /* List item spacing */
	padding: 5px;
}

label { /* Input name styles */
	display: inline-table;
	color: white;
	letter-spacing: .08em;
	
		
}

#songName, #artist { /* text input field styling */
	border-radius: 8px;
	padding: 5px 2px 5px 2px;
	width: 295px;
	height: 30px;
	font-size: larger;
	text-indent: 5px;
	color: white;
	border: 1px solid #3B3B3B;
	box-shadow: inset 0px 0px 5px black;
	background:#f6e6b4;
	
}

#learnBy {
	border-radius: 8px;
	padding: 1px 2px 1px 2px;
	width: 157px;
	height: 30px;
	font-size: larger;
	text-indent: 5px;
	border: 1px solid #3B3B3B;
	box-shadow: inset 0px 0px 5px black;
	background:#f6e6b4;
	color: white;
}

input[type='range'] {  
    -webkit-appearance: none;  
    background-color: gray;
    width: 70px;
    height: 10px;
}

span#range { /* Range displayed value style */
	position: relative;
	top: 0px;
	color: white;
	font-weight: bold;
	
}

#ratingBox {
	display: inline;
	box-shadow: 0px 0px 6px black;
	background: #f6e6b4;
	padding: 9px;
	border: 1px inset black;
	border-radius: 8px;
	border-color: rgba(0,0,0,0.25); 
}


input#tip{ /* Key input field size adjustment */
	border-radius: 8px;
	border: 1px solid #3B3B3B;
	box-shadow: inset 0px 0px 5px black;
	background:#f6e6b4;
	padding: 5px 2px 5px 2px;
	width: 65px;
	height: 30px;
	text-align: center; 
	font-size: inherit;
	color: white;
	margin-left: 5px;
}

#bulletCheck{
	margin: 8px 0px 8px 0px;
	padding-top: 4px;
	background: #f6e6b4; /* Old browsers */
	background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */


}

#learnByDate {
	box-shadow: inset 1px 2px 1px rgba(0,0,0,0.5);
	padding: 8px;
	margin-left: -5px;
	margin-right: -5px;
   background: #f6e6b4; /* Old browsers */
	background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6e6b4 0%,#ed9017 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */


textarea { /* Notes section styling */
	border-radius: 8px;
	border: 1px solid #3B3B3B;
	box-shadow: inset 0px 0px 5px black;
	background:#f6e6b4;
	padding: 10px;
	margin-bottom: -13px;
	width: 280px;
	font-size: larger;
	color: white;
}


#item li { /* Stored data styling */
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size:small;	
}


#entry {
	position: relative;
	top: -30px;
	border: 1px solid #262626;
	background: rgb(181,181,181); /* Old browsers */
	background: rgb(224,224,224); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(86,86,86,1) 1%, rgba(38,38,38,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(1%,rgba(86,86,86,1)), color-stop(100%,rgba(38,38,38,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(86,86,86,1) 1%,rgba(38,38,38,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(86,86,86,1) 1%,rgba(38,38,38,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(86,86,86,1) 1%,rgba(38,38,38,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(86,86,86,1) 1%,rgba(38,38,38,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
    margin: 4px;
    padding-bottom: 15px;
    border-radius: 8px;
    
}

#entry li {
	position: relative;
	left: -30px;
}

#pic {
	float: right;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(94,155,196,1) 1%, rgba(60,111,161,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(94,155,196,1)), color-stop(100%,rgba(60,111,161,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(94,155,196,1) 1%,rgba(60,111,161,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(94,155,196,1) 1%,rgba(60,111,161,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(94,155,196,1) 1%,rgba(60,111,161,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(94,155,196,1) 1%,rgba(60,111,161,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3c6fa1',GradientType=0 ); /* IE6-9 */
	border-radius: 8px;
	border: 1px solid #262626;
	box-shadow: inset 1px 2px 1px rgba(0,0,0,0.5);
	padding: 4px;
	margin-right: -18px;
	margin-top: 10px;
}

#editLink, #deleteLink {
	border: 1px solid #fd89d7;
	border-radius: 8px;
	padding: 6px 10px 6px 10px;
	border: 1px solid rgba(65,65,69,0.5);
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(94,155,196,1) 1%, rgba(60,111,161,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(94,155,196,1)), color-stop(100%,rgba(60,111,161,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(94,155,196,1) 1%,rgba(60,111,161,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(94,155,196,1) 1%,rgba(60,111,161,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(94,155,196,1) 1%,rgba(60,111,161,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(94,155,196,1) 1%,rgba(60,111,161,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3c6fa1',GradientType=0 ); /* IE6-9 */
	
}

#deleteLink {
	margin-left: 10px;
}


#footerDiv { /* Footer Navigation Styling */
	padding: 2px 0px 2px 10px;
	box-shadow: 0px 0px 6px black;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(94,155,196,1) 1%, rgba(60,111,161,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(94,155,196,1)), color-stop(100%,rgba(60,111,161,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(94,155,196,1) 1%,rgba(60,111,161,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(94,155,196,1) 1%,rgba(60,111,161,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(94,155,196,1) 1%,rgba(60,111,161,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(94,155,196,1) 1%,rgba(60,111,161,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3c6fa1',GradientType=0 ); /* IE6-9 */
}

a:link{color:#ffffff; text-decoration: none; }
a:visited{color:white;}
a:hover{color: black;}
a:active{color: #fffff;}
